<p>timer-list works!</p>
<div class="row">
  <div class="col-md-5 mx-auto">
   <button (click)="goToCreate()"
          class="btn btn-primary">Create TIMER !</button>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let timer of timers"
                          (opened)="loadTimerData(timer)">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ timer.name }}</mat-panel-title>
          <mat-panel-description>
            {{ timer.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-4">
            <app-set></app-set>
          </div>
          <div class="col-md-8">
            <app-cycle></app-cycle>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

    </div>
</div>
