<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="row">
      <div class="col-md-4">
        <mat-card *ngFor="let timer of timers">
          <mat-card-title>{{ timer.name }}</mat-card-title>
          <mat-card-content>{{ timer.description }}</mat-card-content>
          <mat-card-actions>ACTIONS</mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md-7 offset-md-1">
        <app-timer-detail [timer]="timer"></app-timer-detail>
      </div>
    </div>
  </div>
</div>
